<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:task="http://www.springframework.org/schema/task"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
  http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
  http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-4.0.xsd
  http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <bean id="xmlTask" class="com.xm.demo01.job.XmlTask"/>

    <task:scheduled-tasks>
        <!--每5秒钟运行一次-->
        <task:scheduled ref="xmlTask" method="task" cron="0/5 * * * * ?"/>
    </task:scheduled-tasks>

    <task:annotation-driven />

    <context:component-scan base-package ="com.xm.demo01.job" />

</beans>